@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Expense" asp-controller="Home" class="btn btn-primary">Overview</a>
    <a asp-action="CreateEditExpense" asp-controller="Home" class="btn btn-primary">Create Edit Expense</a>
</div>
